html {
  background-image: url(../Images/Night-Sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Spectral', serif;
}

.grid-display {
  display: grid;
}




/* header setup start */

header {
  color: #F8FBFE;
  width: 100%;
  position: fixed;
}

/* corner logo */
.logo {
  font-size: 300%;
  margin-top: 9%;
  margin-left: 15%;
  opacity: .9;
  font-style: italic;
  font-family: 'Spectral SC', serif;
  text-decoration: none;
  color: #F8FBFE;
}

/* setting up grid so that the logo and the nav icon can be on seperate sides */
.header-nav {
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto;
}

/* defining drop down menu style */
.nav-ul {
  position: absolute;
  color: #F8FBFE;
  background-color: rgba(0,0,0,0.7);
  margin-top: -1%;
  height: 2000%;
  width: 100vw;
  display: none;
}

/* define close icon in the top right corner of the drop down */
.close-nav-li {
  padding-left: 50%;
  margin-bottom: -9%;
  text-decoration: none;
}

/* the list items */
.nav-li {
  margin-top: 6%;
  font-size: larger;
  text-align: center;
  cursor: pointer;
  animation: pull-over 5s;
}

/* add color transition */
.nav-li:hover {
  color: #95C1FF;
  transition: 1s;
}

/* defining icon in the corner of webpage */
.fa-bars {
  color: #F8FBFE;
  grid-column: 3/4;
  margin-top: 20%;
  cursor: pointer;
}

/* add color transition */
.fa-bars:hover {
  color: #95C1FF;
  transition: 1s;
}

/* animation (not yet working) */
@keyframes pull-over {
  0% {top: 100px}
}

/* header setup end */




/* body setup begin */

main {
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 2fr 3fr 2fr;
  padding-top: 15%;
}

.main-wrapper {
  
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: center;
}

.name {
  font-size: 500%;
  text-decoration: none;
  color: #F8FBFE;
}

.job {
  font-size: 150%;
  color: #F8FBFE;
}

/* body setup end*/

/* footer setup begin */

footer {
  
  grid-template-columns: 4fr 4fr 2fr;
  margin-top: 10%;
}

.footer-wrapper {
 grid-column: 3/4;
}

.footer-icon {
  color: #F8FBFE;
  cursor: pointer;
  padding-right: 3%;
}

.fa-linkedin:hover {
  color: #0077B5;
  transition: 1s;
}

.fa-facebook-square:hover {
  color: #3b5998;
  transition: 1s;
}

.fa-github-square:hover {
  color: #2EA44F;
  transition: 1s;
}

.fa-medium:hover {
  color: #D9D9D9 ;
  transition: 1s;
}

