body {
  background-image: url(../Images/galaxy-wallpaper-1.jpg);
  height: 150vh;
}

main {
  margin-top: 15%;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 6fr 1fr 6fr 1fr 6fr 2fr;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas: 
  '. was-t .'
  '. was-c .'
  '. am-t .'
  '. am-c .'
  '. will-t .'
  '. will-c .';
}

.was-title {
 grid-area:was-t ;
}

.was-content {
 grid-area:was-c ;
}

.am-title {
 grid-area:am-t ;
}

.am-content {
 grid-area:am-c ;
}

.will-title {
 grid-area:will-t ;
}

.will-content {
 grid-area:will-c ;
}

.title {
  color: white;
  font-size: larger;
}

.content {
  color: white ;
  font-size: medium;
  text-align: center;
}